*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    font-family: 'work sans', sans-serif;
    box-sizing: border-box;
    overflow: hidden;
    overflow-y: hidden;
}
:root
{
    --main-color:#ffc83d;
    --primary-color: #0a1118; 
}
.theme-text
{
    color: var(--main-color);
}
.act{
    color: var(--main-color) !important;
    border-bottom: 2px solid var(--main-color);
}
.navbar ul li a:hover
{
    color: var(--main-color) !important;
    border-bottom: 2px solid var(--main-color); 
}
a {color: var(--primary-color);}
a:hover {color: var(--primary-color);}

.header
{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.2)), url("header.jpg");
    width: 100%;
    height:200vh;
    background-position: center;
    background-size: cover;
}


.navbar .btn_login-popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff ;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}
.navbar .btn_login-popup:hover{
    background: #fff;
    color:#162938;
}


.header1
{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.2)), url(header1.jpg) ;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    align-items: center;
    justify-content: center;
}
.box{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
    
}

.wrapper{
    display:  flex;
    justify-content: center;
    align-items: center;
    width: 400px; 
    height:100vh;
    background: transparent;
    position: relative;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(80px);
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
    overflow: hidden;

}
.wrapper .form-box{
    width: 100%;
    padding: 40px;
}


.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #d6d6d6;
    font-size: 2em;
    color: #162938;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px ;
    cursor: pointer;
    z-index: 1;
}
.form-box h2{
    font-size: 2em;
    color: #d6d6d6;
    text-align: center;
}
.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #d6d6d6;
    margin: 30px 0;
}
.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #d6d6d6;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top:-5px;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #d6d6d6;
    font-weight: 600;
    padding: 0 35px 0 5px;
}
.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #d6d6d6;
    line-height: 57px;
}
.remember-forgot{
    font-size: .9em;
    color: #d6d6d6;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input{
    accent-color: #d6d6d6;
    margin-right: 3px;
}
.remember-forgot a{
    color: #d6d6d6;
    text-decoration: none;
}
.remember-forgot a:hover{
    text-decoration: underline;
}
.btn{
    width: 100%;
    height: 45px;
    background: #d6d6d6;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #162938;
    font-weight: 500;
}
.login-regiter{
    font-size: .9em;
    color: #d6d6d6;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}
.login-regiter p a{
    color: #d6d6d6;
    text-decoration: none;
    font-weight: 600;
}
.login-regiter p a:hover{
    text-decoration: underline;
}


.footer{
    height:auto;
    width: 100%;
    padding: 70px 13% 70px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap:3.5rem;
    background: #1a242f;
    position: absolute;
    left: 0;
}
.footer-content h4{
    color: #fff;
    margin-bottom: 1.5rem;
    font-size: 20px;
}
.footer-content li{
    margin-bottom: 16px;
}
.footer-content li a{
    display: block;
    color: #d6d6d6;
    font-size: 15px;
    font-weight: 400;
    transition: all .40s ease;
}
.footer-content li a:hover{
    transform: translateY(-3px) translateX(-5px);
    color: #fff;
}
.footer-content p{
    color: #d6d6d6;
    font-size: 16px;
    line-height: 30px;
    margin: 20px 0;
}
.icons a{
    display: inline-block;
    font-size: 22px;
    color:#d6d6d6;
    margin-right: 17px;
    transition: all .40s ease;
}
.icons a:hover{
    color: #fff;
    transform: translateY(-5px);
}
@media (max-width:1120px){
    .footer{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, auto));
        gap: 2rem;
    }
}


