*
{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    font-family: 'work sans', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}
:root
{
    --main-color:#ffc83d;
    --primary-color: #0a1118; 
}
.theme-text
{
    color: var(--main-color);
}
.act{
    color: var(--main-color) !important;
    border-bottom: 2px solid var(--main-color);
}
.navbar ul li a:hover
{
    color: var(--main-color) !important;
    border-bottom: 2px solid var(--main-color); 
}
a {color: var(--primary-color);}
a:hover {color: var(--primary-color);}

.header
{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.2)), url("header.jpg");
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
}


.navbar .btn_login-popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff ;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}
.navbar .btn_login-popup:hover{
    background: #fff;
    color:#162938;
}

.middle
{
    height: 50vh;
    width: 80%;
    display: flex;
    justify-content: start;
    align-items: center;
}
.middle h1 {
    font-size: 100px;
    font-family: 'Tangerine', serif; 
}

.steps{
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
}
.steps_section-thumbnail{
    height: 240px;
    object-fit: cover;
    margin: 0 auto;
}

.step_content-width{
    max-width: 500px;
    margin: auto;
}
.steps--background{
    background-color: rgb(134, 153, 153);
}
@media (min-width: 780px) {
    .steps{
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .steps_section-thumbnail{
        height: auto;
    }

}
.footer{
    height:auto;
    width: 100%;
    padding: 80px 13% 70px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap:3.5rem;
    background: #1a242f;
    position: absolute;
    left: 0;
}
.footer-content h4{
    color: #fff;
    margin-bottom: 1.5rem;
    font-size: 20px;
}
.footer-content li{
    margin-bottom: 16px;
}
.footer-content li a{
    display: block;
    color: #d6d6d6;
    font-size: 15px;
    font-weight: 400;
    transition: all .40s ease;
}
.footer-content li a:hover{
    transform: translateY(-3px) translateX(-5px);
    color: #fff;
}
.footer-content p{
    color: #d6d6d6;
    font-size: 16px;
    line-height: 30px;
    margin: 20px 0;
}
.icons a{
    display: inline-block;
    font-size: 22px;
    color:#d6d6d6;
    margin-right: 17px;
    transition: all .40s ease;
}
.icons a:hover{
    color: #fff;
    transform: translateY(-5px);
}
@media (max-width:1120px){
    .footer{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, auto));
        gap: 2rem;
    }
}


